body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #d4d4e2;

}

.navbar-inverse {
    background-color: white;
        height: 140px;
}

.navbar-nav {
    margin: 7.5px -15px;
    background: white;
}

.navbar-inverse .navbar-brand:hover {
    color: yellow;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(6, 6, 6);
}
 .navbar-inverse .navbar-nav>.active>a:hover {
    color: #337ab7;
    /*background-color: rgb(51, 122, 183);*/
}

.navbar-inverse .navbar-brand {
    color: #d62121;
}

.navbar-brand > img {
    display: block;
    margin: 39px 11px;
}

.navbar-inverse .navbar-nav > .active > a
{
    color: black;
    background-color: white;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #5ac1ca;
    background-color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #5ac1ca;
}

.div2
{
    height: 0%;
    width: 100%;
    margin-top: 10%;
    background: white;
}

.img-responsive
{
    margin:0px 0px;
}

.icon-div 
{
    height:0%;
    width: 100%;
    background: white;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0px 0px;
}

.fa-th-list 
{
    background:#05abdf;
    color: white;
    padding: 40px;
    border-radius: 131px;
    border: 1px solid black;
}
.fa:hover 
{
 
    border: 3px solid red;
}

.fa-download
{
    background:#07c9c7;
    color:white;
    padding: 40px;
    border-radius: 131px;
}

.fa-expand
{
    background:#0cc67e;
    color: white;
    padding: 40px;
    border-radius: 131px;
}

.div1 {
    height: 628px;
    width: 100%;
    background-image: url(image/bg-anim-img.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -80px;
}
.div1font
{
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    font-family: Open Sans;
    color: #5ac1ca;
    margin-top: 4%;
}

 .div3
 {
    height: 500px;
    width: 100%;
   background-image:url('image/bw-row.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -12px;
 }

.div4
{
    height: 324px;
    width: 100%;
    /*background: red;*/
    /*opacity: 0;*/
    margin: 6% 0%;
}

.img-rounded {
    border-radius: 99px;
    margin: 0% 42%;
}
.img-roundedd {
    border-radius: 99px;
    height: 135px;
    width: 138px;
    
}

img {
    /* vertical-align: middle; */
}
.div5 h3 {
    font-size: 26px;
    color: white;
    padding: 3% 14%;
}

.div6
{
    background: white;
    height: 0%;
}
.div7 h2 {
    color: #4b4c4d;
    font-size: 27px;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 18px;
}
.div7 p
{
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    color: #b4b4b4;  
}

.div8
{
    background: white;
    height: 0%;
    padding: 0% 12%;
}

.div9
{
    background: white;
    height: 0%;
    padding: 2% 12%;
}

.abc
{
    display: inline-block;
    padding: 0% 1%;
    /*box-sizing: border-box;*/
}

#div12
{
        /*margin-bottom: 99px;*/
}

.team
{
    font-weight: 600;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 70px;
    font-size: 27px;
    color: #4b4c4d;
}

/*.div13
{
    
}*/

.row4
{
    background:rgba(241, 245, 245, 0.99);
}

.row5
{
    background:rgba(241, 245, 245, 0.99);
    height: cover;
}

/*For lepTop___________________________________________________________________________________L____*/
@media(min-width:1200px){

.navbar-inverse {
    border-color: #080808;
    height: 132px;
}

.navbar-nav {
    float: left;
    margin: -10px 456px;
    width: 700px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 41px 0px;
    background: /*rgb(254, 217, 8);*/
}


}


/*For Tablet __________________________________________________________________________________T___*/

@media (max-width: 1199px) and (min-width: 768px)
{

.navbar-nav {
    float: left;
    margin: 38px 82px;


    }
}

/*For Mobile___________________________________________________________________________________M___*/
@media(max-width:767px){

.navbar-header {
     height: 134px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background: black;
    margin: 48px 19px;
}

.navbar-inverse .navbar-nav > .active > a {
    color: black;
    background-color: #2196F3;
}

.navbar-brand > img {
    display: block;
    margin: 25% -14%;
}

.navbar-nav > li 
{
    background:  rgb(254, 217, 8);
}

.img-rounded {
    border-radius: 99px;
    margin: 0% -5%;
    height: 124px;
}

.div13 {
    text-align: center;
    margin: 0px 28px;
}


}

@media(max-width:330px)/*and(min-width:329px)*/{
    .navbar-brand > img {
    display: block;
    margin: -60% -14%;
}
.img-rounded {
    border-radius: 99px;
    margin: 0% -3%;
    height: 103px;
}

}

@media(max-width:270px){

    .navbar-brand > img {
    display: block;
    margin: -99% -19%;
}
.navbar-inverse .navbar-toggle{
    background-color: #333;
    margin: 55% 27%;
}
.img-rounded {
    border-radius: 99px;
    margin: 0% -9%;
    height: 85px;
}

}